        <div class="alert alert-dark mt-4 d-flex align-items-center justify-content-between" role="alert">
            <h1>Bye {{username}}!</h1>  
        </div>

        <script> 
            setTimeout(function () {
            window.location = '/login';
            }, 2000)
        </script>