<div class="container"> 

    <div class="mr-auto bg-light p-5">        
        Username: {{username}}
        <br>
        Email: {{email}}
        <br>
         Address: {{address}} 
        <br>
        Avatar: <img width="100px" src="/avatars/logo.png" alt="">
    </div>

</div>